@using Notifications.Entities.Models
@model IEnumerable<Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Order Details
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.TextIdentifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @foreach (OrderDetail it in item.OrderDetails)
            {
                <ul>
                    <li>@it.Dish.ItemName</li>
                    <li>@it.MenuItemID</li>
                    <li>@it.Quantity</li>
                    <li>@it.UnitPrice</li>
                </ul>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.TextIdentifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            
        </td>
    </tr>
}

</table>
